* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#403A3E , #BE5869);
  height: 100vh;
}

/* Question Box */

h1 {
  color: #fff;
  margin: 20px;
  padding-top: 100px;
}
.quiz-box{
  background-color: rgb(233, 243, 243);
  border-radius: 10px;
  width: 35%;
  width: 35%;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
}
.quiz-header {
  padding: 10px;
}
.question {
  padding: 10px;
  font-size: 25px;
}
ul {
  list-style-type: none;
  padding: 15px;
}
ul li {
  font-size: 20px; 
  margin: 10px 0;
}
ul li label {
  cursor: pointer;
}

/* Buttons */

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.buttons button {
  border: none;
  color: #fff;
  width: 50%;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  background-color: #BE5869;
}
.prev {
  background-color: #858585 !important;
}
.submit {
  display: none;
}
 